@model List<Restaurant>
@using System.Globalization

@{
    ViewData["Title"] = "Restaurateur Page";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenue sur TakeAway</h1>

    @if (Model == null || Model.Count == 0)
    {
        <p class="text-center">Il n'y a pas de restaurant actuellement.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>PhoneNumber</th>
                    <th>Lunch Service</th>
                    <th>Dinner Service</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Restaurant r in Model)
                {
                    <tr>
                        <td>@r.Name</td>
                        <td>@r.Description</td>
                        <td>@r.PhoneNumber</td>
                        <td>@r.LunchService.StartTime?.ToString(@"hh\:mm") - @r.LunchService.EndTime?.ToString(@"hh\:mm")</td>
                        <td>@r.DinnerService.StartTime?.ToString(@"hh\:mm")-@r.DinnerService.EndTime?.ToString(@"hh\:mm")</td>
                        <td>
                            <a asp-action="Menus" asp-route-id="@r.Id" class="btn btn-primary btn-sm">Manage Menus</a>
                        </td>
                        <td>
                            <a asp-action="Dishes" asp-route-id="@r.Id" class="btn btn-primary btn-sm">Manage Dishes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create" class="btn btn-success">Add a restaurant</a>
    }
</div>

<!-- Inclure Bootstrap pour un style amélioré

 -->
