@model List<Restaurant>
@using System.Globalization

@{
    ViewData["Title"] = "Discover the best restaurants";
}
<div class="mb-xxl">
    <h1 class="page-title gold-accent"> <img src="~/img/Logo.png" height="75" width="75" class="m-1"/> DLISH</h1>
    <p class="page-subtitle">Find the best restaurants near you</p>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible flash-message" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible flash-message" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="grid">
    @foreach (var restaurant in Model)
    {
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">@restaurant.Name</h2>
                <div class="card-description">
                    <span>@restaurant.Description</span>
                </div>
            </div>
            <div class="card-content">
                <div class="card-info">
                    <span class="card-info-icon">📍</span>
                    <span class="card-info-text">@restaurant.Address()</span>
                </div>
                <div class="card-info">
                    <span class="card-info-icon">📞</span>
                    <span class="card-info-text">@restaurant.PhoneNumber</span>
                </div>
                <div class="card-info">
                    <span class="card-info-icon">⏰</span>
                    <span class="card-info-text">@restaurant.LunchService</span>
                </div>
                <div class="card-info">
                    <span class="card-info-icon">⏰</span>
                    <span class="card-info-text">@restaurant.DinnerService</span>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="Details" asp-route-id="@restaurant.Id" class="btn btn-gold btn-full">View Details</a>
            </div>
        </div>
    }
</div>